
$bucket-color: grey;
$bucket-dragging-color: lightblue;
$card-color: whitesmoke;
$card-dragging-color: lightgreen;
$error-color: indianred;
$score-color: darkgreen;
$top-margin: 3.0em;

.app {
    display: flex;
    text-align: center;
}

.list-container {
    display: flex;
    flex-direction: column;
    padding: 0.75em;
    margin: 0.75em;
}

.header {
    padding-bottom: 0.5em;
}

.card-list {
    display: flex;
    flex-direction: column;
    width: 15.0em;
    background: $bucket-color;
    height: 225em;
    &.drag-over {
        background: $bucket-dragging-color;
    }
    &.error {
        background: $error-color;
    }
}

.score-container {
    margin-top: $top-margin;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    button {
        height: 2.5em;
        width: 7.5em;
        margin: 0.5em;
    }
}

.score {
    color: $score-color;
    margin: 0.5em;
}

.card {
    width: 12.0em;
    height: 1.0em;
    user-select: none;
    padding: 1.0em;
    margin: 0.5em;
    background: $card-color;
}

.card-dragging {
    background: $card-dragging-color;
}